.logo-container{
  padding-top: 4rem;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo-img{
  height: 3rem;
  display: block;
}

.logo-title{
  text-align: center;
  color: #161e2e;
  margin-top: 1.5rem;
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 2.25rem;
}
body{
  background-color: #f9fafb;;
}

.logoContent{
  text-align: center;
  color: #4b5563;
  font-size: 1rem;
}

.logo-Content-Link{
  color: #5850ec;
  text-decoration: none;
  font-weight: 500;
}


@media only screen and (min-width: 640px){
  .logo-container{
    padding-top: 6rem;
  }
  .formContainer{
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }
  .form{
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    border-radius: 0.5rem;
  }
  .email-input{
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
}

.formContainer{
  margin-top: 2rem;
}

.form{
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.email-label{
  display: block;
  color: #374151;
  margin-bottom: 0.25rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}
.email-input{
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  display: block;
  border-radius: 0.375rem;
  border-color: #d2d6dc;
  appearance: none;
  background-color: #ffffff;
  border-style: solid;
}

.password-container{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.forgot-password{
  line-height: 1.25rem;
  font-size: 0.875rem;
}
.forgot-password-lnk{
  color: #5850ec;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.25rem;
  font-size: 0.875rem;
}

.forgot-password-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btnContainer{
  margin-top: 1.5rem;
}

.btn-enter{
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  display: block;
  border-radius: 0.375rem;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-radius: 0.375rem;
  background-color: #5850ec;
  cursor: pointer;
  border-color: #d2d6dc;
}

.form{
  padding-left: 1rem;
  padding-right: 1rem;
}
.validationMsg{
  color: #f05252;
  font-size: 0.75rem;
  margin-top: 4px;
}